@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  grid-template-rows: 60px 1fr;
 
}

.sidebar{
  background-color: #6D5ACF;
  size: 20%;
  grid-row: 2 / -1 
}

.navbar{
  background-color: indigo;
  grid-column: 1 / -1;
}

